black==24.10.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
coverage==7.6.3
coveralls==4.0.1
DateTime==5.5
Django==2.2
docopt==0.6.2
flake8==7.1.1
idna==3.10
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
pathlib==1.0.1
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
pycodestyle==2.12.1
pyflakes==3.2.0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
setuptools==75.1.0
sqlparse==0.5.1
urllib3==1.26.16
zope.interface==7.0.3